*
{
    margin: 0;
    padding: 0;
}
html 
{
    height: 100%;
}
body
{
    font-family: 'Raleway', sans-serif;
    display: flex;
    background-image: linear-gradient(306deg, rgba(54, 54, 54, 0.05) 0%, rgba(54, 54, 54, 0.05) 33.333%,rgba(85, 85, 85, 0.05) 33.333%, rgba(85, 85, 85, 0.05) 66.666%,rgba(255, 255, 255, 0.05) 66.666%, rgba(255, 255, 255, 0.05) 99.999%),linear-gradient(353deg, rgba(81, 81, 81, 0.05) 0%, rgba(81, 81, 81, 0.05) 33.333%,rgba(238, 238, 238, 0.05) 33.333%, rgba(238, 238, 238, 0.05) 66.666%,rgba(32, 32, 32, 0.05) 66.666%, rgba(32, 32, 32, 0.05) 99.999%),linear-gradient(140deg, rgba(192, 192, 192, 0.05) 0%, rgba(192, 192, 192, 0.05) 33.333%,rgba(109, 109, 109, 0.05) 33.333%, rgba(109, 109, 109, 0.05) 66.666%,rgba(30, 30, 30, 0.05) 66.666%, rgba(30, 30, 30, 0.05) 99.999%),linear-gradient(189deg, rgba(77, 77, 77, 0.05) 0%, rgba(77, 77, 77, 0.05) 33.333%,rgba(55, 55, 55, 0.05) 33.333%, rgba(55, 55, 55, 0.05) 66.666%,rgba(145, 145, 145, 0.05) 66.666%, rgba(145, 145, 145, 0.05) 99.999%),linear-gradient(90deg, rgb(57,255,241),rgb(18, 131, 221));
    align-items: center;
    height: 100%;
}
.contenedor
{
    background-color: white;
    height: 400px;
    width: 390px;
    display: flex;
    margin: 20px auto;
    border-radius: 1rem;
    flex-direction: column;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
}
.title
{
    font-weight: bold;
    font-size: 2em;
    padding: 20px 0;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    text-align: center;
    background-image: linear-gradient(145deg, rgba(232, 87, 237, 0.15) 0%,rgba(109, 137, 69, 0.15) 100%),linear-gradient(75deg, rgb(33, 138, 184),rgb(0, 241, 181));
    color: white;
    margin-bottom: 10px;
}
.accesos
{
    font-family: 'Raleway',sans-serif;
    padding: .5rem;
    margin: 10px 70px;
    border: gray 1px solid;
    border-radius: 5rem;
    font-size: 15px;
}
.accesos:focus
{
    outline: none;
}
.fila
{
    display: flex;
    justify-content: space-around;
    margin: 25px 40px;
}
.fila a
{
    text-decoration: none;
}
.fila a:hover
{
    text-decoration: underline;
}
.fila a:visited
{
    color: blue;
}
#btnLogin
{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin: 0 40px;
    background-image: linear-gradient(145deg, rgba(232, 87, 237, 0.15) 0%,rgba(109, 137, 69, 0.15) 100%),linear-gradient(75deg, rgb(33, 138, 184),rgb(0, 241, 181));
    border: transparent;
    border-radius: 5rem;
    padding: 10px 0;
    cursor: pointer;
}
#btnLogin:focus
{
    outline: none;
}
#btnLogin:hover
{
    transition: .5s;
    background-image: linear-gradient(334deg, rgba(232, 87, 237, 0.15) 0%,rgba(109, 137, 69, 0.15) 100%),linear-gradient(264deg, rgb(33, 138, 184),rgb(0, 241, 181));
}
#casilla
{
    height: 20px;
}
@media (max-width: 400px)
{
    .contenedor
    {
        width: 310px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}